

.container {
    margin: 4rem 20rem;
}

.container h1 {
    font-size: 2.5rem;
}

.table {
    margin-top: 8px;
    font-size: 14px;

}

input[type="search"] {
    margin-top: 2.625rem;
    width: 400px;
    height: 36px;
    background: #FFFFFF;
    padding-left: 40px;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 2px 4px rgba(51, 51, 51, 0.15);
    border-radius: 4px;
    background: transparent url("/public/assets/icons/search.svg") no-repeat 9px center;
}

.table .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black);
    height: 48px;
    font-weight: 500;
}

.table .table-body {
    display: flex;
    height: 48px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;

}

.table .table-body div:first-child {
    color: var(--primary);
    font-weight: 700;
    text-transform: capitalize;
}
