

.container-detail {
    margin: 4rem 2.5rem;
}

@media screen and (max-width: 1200px) {
    .container-detail {
      margin: 2rem;
    } 
  }

.container-detail h1 {
    font-size: 2.5rem;
}

.pika {
 margin: 8px 0 2.5rem 0;
}

.pika h1 {
    margin: 0;
}

.stock {
    margin: 2.5rem 0;
}

.stock p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.006em;
    color: #333333;
    margin: 0;
}

.stock h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: -0.021em;
    color: #333333;
    margin: 0;
}

.history-stock {
    margin: 2.5rem 0 1rem 0;
}

.history-stock p:nth-child(1) {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.011em;
    color: #333333;
    margin: 0;
}

.history-stock p:nth-child(2) {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.006em;
    color: #333333;
    margin: 0;
}