

.suspense {
  margin: 10px auto;
  text-align: center;
  font-weight: 500;
}

.notfound {
  text-align: center;
  font-size: 14px;
  margin: 1rem 0;
  color: rgb(100, 100, 100);
  font-weight: 500;
}
