
.table {
    margin-top: 8px;
    font-size: 14px;

}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black);
    height: 48px;
    font-weight: 500;
}

.table-body {
    display: flex;
    height: 48px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;

}

.pokename {
    color: var(--primary);
    font-weight: 700;
    text-transform: capitalize;
}